.Navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 40px;
    border-bottom: 1px solid rgb(222, 221, 221);
}
.navbarul{
    display: flex;
    
    list-style: none;
    padding: 0px 10px;

}
.navbarli{
    text-decoration: none;
    color: black;
    font-size: 16px;
    font-weight: 500;
    margin-left: 30px;
}
.cart-icon{
color: black;
font-size: 26px;
display: flex;
align-items: center;
}
.navtext{
    display: flex;
    align-items: center;
 
}
