.userDetail{
    width:50%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: left;
    padding: 0px 20px;

    

}
.Double{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    align-content: center;
}
input ,select{
    font-size: 22px;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    

}
input:active{
    border: 2px solid black;
}
.continueShoping {
    background-color: black;
    color: white;
    padding: 20px 10px;
    margin-right: 20px;
}
.continueShoping a{
  text-decoration: none;
  font-size: 20px;
    color: white;
 
}
.buttons{
    width:50%;
    margin: 20px auto;
    display: flex;
    justify-content: space-between;
    
}
.buttons p a {
    text-decoration: none;
  font-size: 20px;
    margin-top: 10px;
    color: black;
    font-weight: 600;
}
.buttons p{
    margin-left: 20px;
}